In [140]:
import pandas as pd
import numpy as np

In [141]:
calculate_distance_matrix = pd.read_csv("C:/Users/pranay/Downloads/dataset-3.csv")

In [142]:
calculate_distance_matrix

    id_start   id_end  distance
0    1001400  1001402       9.7
1    1001402  1001404      20.2
2    1001404  1001406      16.0
3    1001406  1001408      21.7
4    1001408  1001410      11.1
5    1001410  1001412      15.6
6    1001412  1001414      18.2
7    1001414  1001416      13.2
8    1001416  1001418      13.6
9    1001418  1001420      12.9
10   1001420  1001422       9.6
11   1001422  1001424      11.4
12   1001424  1001426      18.6
13   1001426  1001428      15.8
14   1001428  1001430       8.6
15   1001430  1001432       9.0
16   1001432  1001434       7.9
17   1001434  1001436       4.0
18   1001436  1001438       9.0
19   1001436  1001437       5.0
20   1001438  1001437       4.0
21   1001438  1001440      10.0
22   1001440  1001442       3.9
23   1001442  1001488       4.5
24   1001488  1004356       4.0
25   1004356  1004354       2.0
26   1004354  1004355       2.0
27   1004355  1001444       0.7
28   1001444  1001446       6.6
29   1001446  1001448       9.6
30   1001448  1001450      15.7
31   1001450  1001452       9.9
32   1001452  1001454      11.3
33   1001454  1001456      13.6
34   1001456  1001458       8.9
35   1001458  1001460       5.1
36   1001460  1001461      12.8
37   1001460  1001462      17.9
38   1001461  1001462       5.1
39   1001462  1001464      26.7
40   1001464  1001466       8.5
41   1001466  1001468      10.7
42   1001468  1001470      10.6
43   1001470  1001472      16.0

In [143]:
toll_matrix = pd.DataFrame(0, index=calculate_distance_matrix['id_start'].unique(), columns=calculate_distance_matrix['id_start'].unique())

In [144]:
for i, row in calculate_distance_matrix.iterrows():
    toll_matrix.at[row['id_end'], row['id_start']] = row['distance']
    toll_matrix.at[row['id_start'], row['id_end']] = row['distance']

In [145]:
 toll_matrix.head()

,1001400,1001402,1001404,1001406,1001408,1001410,1001412,1001414,1001416,1001418,...,1001458,1001460,1001461,1001462,1001464,1001466,1001468,1001470,1001437,1001472
1001400,0.0,9.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1001402,9.7,0.0,20.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1001404,0.0,20.2,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1001406,0.0,0.0,16.0,0.0,21.7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1001408,0.0,0.0,0.0,21.7,0.0,11.1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [146]:
matrix_size=43
for i in range(matrix_size):
    for j in range(matrix_size):
        if i != j and toll_matrix.iloc[i, j] == 0:
            toll_matrix.iloc[i, j] = toll_matrix.iloc[i-1, j] + toll_matrix.iloc[i, i-1]

In [147]:
toll_matrix.head(10)

,1001400,1001402,1001404,1001406,1001408,1001410,1001412,1001414,1001416,1001418,...,1001458,1001460,1001461,1001462,1001464,1001466,1001468,1001470,1001437,1001472
1001400,0.0,9.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001402,9.7,0.0,20.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001404,29.9,20.2,0.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001406,45.9,36.2,16.0,0.0,21.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001408,67.6,57.9,37.7,21.7,0.0,11.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001410,78.7,69.0,48.8,32.8,11.1,0.0,15.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001412,94.3,84.6,64.4,48.4,26.7,15.6,0.0,18.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001414,112.5,102.8,82.6,66.6,44.9,33.8,18.2,0.0,13.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001416,125.7,116.0,95.8,79.8,58.1,47.0,31.4,13.2,0.0,13.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001418,139.3,129.6,109.4,93.4,71.7,60.6,45.0,26.8,13.6,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
matrix_size=43
for i in range(matrix_size):
    for j in range(matrix_size):
        if i > j :
            toll_matrix.iloc[j,i] = toll_matrix.iloc[i,j]

# Question1

In [149]:
toll_matrix.head(10)

,1001400,1001402,1001404,1001406,1001408,1001410,1001412,1001414,1001416,1001418,...,1001458,1001460,1001461,1001462,1001464,1001466,1001468,1001470,1001437,1001472
1001400,0.0,9.7,29.9,45.9,67.6,78.7,94.3,112.5,125.7,139.3,...,348.8,353.9,366.7,371.8,398.5,407.0,417.7,428.3,NaN,NaN
1001402,9.7,0.0,20.2,36.2,57.9,69.0,84.6,102.8,116.0,129.6,...,339.1,344.2,357.0,362.1,388.8,397.3,408.0,418.6,NaN,NaN
1001404,29.9,20.2,0.0,16.0,37.7,48.8,64.4,82.6,95.8,109.4,...,318.9,324.0,336.8,341.9,368.6,377.1,387.8,398.4,NaN,NaN
1001406,45.9,36.2,16.0,0.0,21.7,32.8,48.4,66.6,79.8,93.4,...,302.9,308.0,320.8,325.9,352.6,361.1,371.8,382.4,NaN,NaN
1001408,67.6,57.9,37.7,21.7,0.0,11.1,26.7,44.9,58.1,71.7,...,281.2,286.3,299.1,304.2,330.9,339.4,350.1,360.7,NaN,NaN
1001410,78.7,69.0,48.8,32.8,11.1,0.0,15.6,33.8,47.0,60.6,...,270.1,275.2,288.0,293.1,319.8,328.3,339.0,349.6,NaN,NaN
1001412,94.3,84.6,64.4,48.4,26.7,15.6,0.0,18.2,31.4,45.0,...,254.5,259.6,272.4,277.5,304.2,312.7,323.4,334.0,NaN,NaN
1001414,112.5,102.8,82.6,66.6,44.9,33.8,18.2,0.0,13.2,26.8,...,236.3,241.4,254.2,259.3,286.0,294.5,305.2,315.8,NaN,NaN
1001416,125.7,116.0,95.8,79.8,58.1,47.0,31.4,13.2,0.0,13.6,...,223.1,228.2,241.0,246.1,272.8,281.3,292.0,302.6,NaN,NaN
1001418,139.3,129.6,109.4,93.4,71.7,60.6,45.0,26.8,13.6,0.0,...,209.5,214.6,227.4,232.5,259.2,267.7,278.4,289.0,NaN,NaN